<!DOCTYPE html>
<html lang="ko">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %} - CardShare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    {% endblock %}
</head>
<body>
    <div class="nav">
      <div class="nav__container"><a href="/" class="logo">CARD SHARE</a></div>
    </div>
    {% block body %}{% endblock %}
    <div class="footer">
       <div class="footer__container">
         <h1 class="footer__title">
           2018.12.25 크리스마스 프로젝트<br />새 해 카드 공유 서비스
         </h1>
         <span class="footer__member">기획 : 김호현</span>
         <span class="footer__member">백엔드 개발 : 박경철</span>
         <span class="footer__member">프론트엔드 개발 : 노우제</span>
         <span class="footer__contact">cardshare.space@gmail.com</span>
       </div>
     </div>
    {% block custom_script %}{% endblock %}
</body>
</html>