{% block card %}
<main class="main">
  <div class="wrapper">
    <div class="scene scene--card">
      <div class="card__container">
        <div class="card">
          <div class="card__face card__face--front">
            <img
              class="card__img"
              src="{{ card.img_url }}"
              alt="card__img"
            />
          </div>
          <div class="card__face card__face--back">
            <div class="card__title">{{ card.title }}</div>
            <div class="card__to">To. {{ card.receiver }}</div>
            <div class="card__content">
              {{ card.content }}
            </div>
            <div class="card__from">From. {{ card.writer }}</div>
          </div>
        </div>
      </div>
    </div>
    {% include "layout/card_buttons.html" %}
  </div>
</main>
{% endblock %}