{% extends "layout/base.html" %}
{% block head %}
    {{ super() }}
    {% block custom_css %}{% endblock %}
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
{% endblock %}
{% block body %}
  {% block card %}{% endblock %}
    <div class="buttons">
      <button class="button button--mkcard">카드 만들기</button>
      <button class="button" onclick="sendLink();">카드 공유하기</button>
    </div>
  <script type="text/javascript">{% include "layout/kakaolink.html" %}</script>
{% endblock %}