.form {
  padding: 0 20px;
  padding-top: 30px;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  color: #343a40;
}

.form__label.required::after {
  content: "*";
  right: -5px;
  color: #cc0000;
  position: relative;
  vertical-align: middle;
  font-size: 18px;
  font-family: sans-serif;
}

.form__input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 0.1px solid #ced4da;
  padding: 7.5px 0;
  font-size: 15px;
  background-color: transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  font-family: inherit;
  line-height: 1.5em;
}

.form__input:focus {
  outline: none;
  border-bottom: 0.1px solid #343a40;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 30px;
  margin-top: 10px;
}

.preview {
  position: fixed;
  width: 100%;
  height: calc(100% - 100px);
  background-color: white;
  bottom: -100%;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
  border-top: 1px solid rgba(0, 0, 0, 0.0975);
  z-index: 100;
  padding: 20px 0;
  padding-bottom: 0;
  overflow-y: scroll;
}

.preview::-webkit-scrollbar {
  display: none;
}

.preview--open {
  bottom: 0;
}

.preview__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.preview__title {
  font-size: 25px;
  color: #343a40;
}

.preview__close {
  font-size: 40px;
  position: relative;
  bottom: 5px;
  cursor: pointer;
  font-weight: 100;
  color: #343a40;
}

#cropper__container {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  margin-bottom: 30px;
}

#cropper__img {
  max-width: 100%;
  display: none;
}

.cropper__button {
  margin-bottom: 30px;
}

.cropper__button input[type="file"] {
  display: none;
}

.cropper__input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
