@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo");

html,
body {
  font-family: "Nanum Gothic", sans-serif;
  /* background-color: #fefefe; */
  letter-spacing: 0.5px;
  height: 100%;
  /* background: url("../img/background.png"); */
  z-index: -1;
}

.main {
  width: 100%;
  min-height: calc(100% - 260px);
}

.wrapper {
  max-width: 450px;
  margin: 0 auto;
}

.nav {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  height: 70px;
}

.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
}

.footer {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.0975);
  width: 100%;
  height: 190px;
}

.footer__container {
  align-items: center;
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 20px;
}

 .footer__title {
   font-size: 18px;
   display: block;
   margin-bottom: 20px;
   text-align: right;
   line-height: 1.25em;
 }

 .footer__member {
   display: block;
   margin-bottom: 5px;
   text-align: right;
   font-size: 15px;
   color: grey;
 }

 .footer__contact {
   display: block;
   margin-top: 15px;
   text-align: right;
   color: grey;
 }

.button {
  background-color: rgb(100, 100, 100);
  padding: 10px 20px;
  border: none;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.button--kakao {
   background-color: #f9e01a;
   color: #391c1c;
 }
