{% extends "layout/base.html" %}
{% block title %}Card {{ type }}{% endblock %}
{% block head %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/card'+ type + '.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.min.css') }}" />
  <script src="{{ url_for('static', filename='js/cropper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aws-sdk-2.1.24.min.js') }}"></script>
{% endblock %}
{% block body %}
  <main class="main">
    <div class="wrapper">
      <form class="form" action="create" method="post" enctype="multipart/form-data">
        <input type="hidden" name="card_type" value="{{type}}"/>
        <input type="hidden" name="img_url" />
        <span class="form__label required">보내는 사람</span>
        <input class="form__input" type="text" name="writer" required />
        <span class="form__label required">받는 사람</span>
        <input class="form__input" type="text" name="receiver" required />
        <span class="form__label required">제목</span>
        <input class="form__input" type="text" name="title" required />
        <span class="form__label required">하고싶은 말</span>
        <textarea
          class="form__input"
          name="content"
          cols="30"
          rows="5"
          required
        ></textarea>
      </form>
      <div id="cropper__container">
        <div class="cropper__button">
           <label for="cropper__input" class="cropper__input">
             사진 업로드
           </label>
           <input type="file" id="cropper__input" />
        </div>
        <img id="cropper__img" alt="" />
     </div>
      <div class="buttons">
        <button class="button button--preview">미리보기</button>
        <button class="button" id="upload__button">만들기</button>
      </div>
    </div>

    <div class="preview">
      <div class="wrapper">
        <div class="preview__top">
          <span class="preview__title" onclick="inputToCard()">미리보기</span>
          <span class="preview__close">&times;</span>
        </div>

        <div class="preview__content">
          <div class="scene scene--card">
            <div class="card__container">
              <div class="card">
                <div class="card__face card__face--front">
                  <img
                    id="card_img"
                    class="card__img"
                    src="https://sc01.alicdn.com/kf/HTB1LOnJNFXXXXcDXpXXq6xXFXXXR/200132811/HTB1LOnJNFXXXXcDXpXXq6xXFXXXR.jpg"
                    alt="card__img"
                  />
                  {% if type != 4 %}
                    <div class="card__title">THANKS TO</div>
                  {% endif %}
                </div>
                <div class="card__face card__face--back">
                  {% if type == 4 %}
                    <div class="card__title">THANKS TO</div>
                  {% endif %}
                  <div class="card__to">Mr. Brown</div>
                  <div class="card__content">Hello World!</div>
                  <div class="card__from">Sir Alex Ferguson</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block custom_script%}
<script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
<script type="text/javascript">
// image load and cut
 const image = document.querySelector("#cropper__img");
 const cropper = new Cropper(image, {
   aspectRatio: 1 / 1
 });

 // upload image to cropper
 let upload = document.querySelector("#cropper__input");
 upload.addEventListener("change", e => {
   if (e.target.files.length) {
     if (e.target.files[0].type.match("image.*")) {
       const reader = new FileReader();
       reader.readAsDataURL(e.target.files[0]);
       reader.onload = () => {
         image.style.display = "block";
         cropper.replace(reader.result);
       };
     } else {
       alert("사진만 업로드가 가능합니다.");
     }
   }
 });

// upload cropped image to s3
 AWS.config.update({
   accessKeyId: "{{aws_id}}",
   secretAccessKey: "{{aws_secret}}"
 });
 AWS.config.region = "{{aws_resion}}";

 function dataURItoBlob(dataURI) {
   var binary = atob(dataURI.split(",")[1]);
   var array = [];
   for (var i = 0; i < binary.length; i++) {
     array.push(binary.charCodeAt(i));
   }
   return new Blob([new Uint8Array(array)], { type: "image/jpeg" });
 }

 const cropperButton = document.querySelector("#upload__button");
 var cardForm = document.querySelector(".form");
 cropperButton.addEventListener("click", function() {
   if (
     document.getElementsByName("writer")[0].value === "" ||
     document.getElementsByName("receiver")[0].value === "" ||
     document.getElementsByName("title")[0].value === "" ||
     document.getElementsByName("content")[0].value === "" ||
     document.getElementById("cropper__img").src === ""
   ) {
     alert("양식을 모두 채워주세요.");
   } else {
     var dataUrl = cropper.getCroppedCanvas().toDataURL("image/jpeg");
     var blobData = dataURItoBlob(dataUrl);

     // 키를 유니크하게 해야한다.
     var params = {
       Key: Date.now() + "_" + upload.files[0].name,
       ContentType: blobData.type,
       Body: blobData,
       ACL: "public-read"
     };

     var bucket = new AWS.S3({ params: { Bucket: "{{s3_bucket}}" } });
     var img_url = document.querySelector("input[name=img_url]");
     bucket.upload(params, function(err, data) {
       if(err) console.log(err);
       if (data){
         img_url.value = data.Location;
         cardForm.submit();
       }
     });
   }
 });

window.onload = function(){
  var cardFace = document.querySelector(".card__face");
  var cardImg = document.querySelector(".card__img");
  var cardTitle = document.querySelector(".card__title");
  cardTitle.style.height = cardFace.offsetHeight - cardImg.height + "px";
}
</script>
{% endblock %}