.scene {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  perspective: 600px;
}

.card__container {
  position: relative;
  padding-top: 125%;
}

.card {
  background-color: white;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 7px 7px 20px -5px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face::after {
  content: "";
  background: url(../img/texture1.png);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.card__img {
  width: 100%;
  display: block;
}

.card__title {
  padding: 30px;
  text-align: right;
  letter-spacing: 0.2em;
  font-size: 20px;
}

.card__face.card__face--back {
  padding: 30px;
  transform: rotateY(180deg);
  line-height: 2em;
  word-break: break-all;
  text-align: justify;
  /* background: linear-gradient(
    to bottom,
    #d9d9d9 0%,
    #fffdef 5%,
    #fffdef 95%,
    #d9d9d9 100%
  );
  background-size: 100% 2em;
  background-repeat: repeat-y; */
  overflow-y: scroll;
}

.card__face.card__face--back::-webkit-scrollbar {
  display: none;
}

.card__face.card__face--back::after {
  content: "";
  background: url(../img/texture1.png);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.card__to {
}

.card__content {
  margin: 20px 0;
}

.card__from {
  text-align: right;
}
