<!DOCTYPE html>
<html lang="ko">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %} - CardShare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    {% endblock %}
</head>
<body>
    <div class="nav">
      <div class="nav__container"><a href="/" class="logo">CARD SHARE</a></div>
    </div>
    {% block body %}{% endblock %}
    <div class="footer"><div class="footer__container"></div></div>
    {% block custom_script %}{% endblock %}
</body>
</html>