{% extends "layout/base.html" %}
{% block title %}Card1{% endblock %}
{% block head %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/card1.css') }}" />
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
{% endblock %}
{% block body %}
  <div class="wrapper">
    <div class="scene scene--card">
      <div class="card__container">
        <div class="card">
          <div class="card__face card__face--front">
            <img
              class="card__img"
              src="{{card.img_url}}"
              alt="card__img"
            />
            <div class="card__title">{{ card.title }}</div>
          </div>
          <div class="card__face card__face--back">
            <div class="card__to">To. {{ card.receiver }}</div>
            <div class="card__content">
              {{ card.content }}
            </div>
            <div class="card__from">From. {{ card.writer }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a id="kakao-link-btn" href="javascript:sendLink();">
      <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
  </a>
  <script>
    var card = document.querySelector(".card");
    card.addEventListener("click", function() {
      card.classList.toggle("is-flipped");
    });

    var cardFace = document.querySelector(".card__face");
    var cardImg = document.querySelector(".card__img");
    var cardTitle = document.querySelector(".card__title");
    cardTitle.style.height = `${cardFace.offsetHeight - cardImg.height}px`;

    Kakao.init('fb602f99e518efc0232e160f0e3c74b5');

    function sendLink() {
        Kakao.Link.sendDefault({
        objectType: 'feed',
        content: {
            title: '{{card.title}}',
            imageUrl: '{{ card.img_url }}',
            link: {
            mobileWebUrl: 'http://localhost:3000/card/{{card.secret_code}}',
            webUrl: 'http://localhost:3000/card/{{card.secret_code}}'
            }
        },
        buttons: [
            {
            title: '웹으로 보기',
            link: {
                mobileWebUrl: 'http://localhost:3000/card/{{card.secret_code}}',
                webUrl: 'http://localhost:3000/card/{{card.secret_code}}'
            }
            },
            {
            title: '앱으로 보기',
            link: {
                mobileWebUrl: 'http://localhost:3000/card/{{card.secret_code}}',
                webUrl: 'http://localhost:3000/card/{{card.secret_code}}'
            }
            }
        ]
        });
    }
  </script>
{% endblock %}
