<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Card Share</title>
    <link rel="stylesheet" href="./shared.css" />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="nav">
      <div class="nav__container"><div class="logo">Card Share</div></div>
    </div>
    <div class="wrapper">
      <section class="header">
        <div class="copy">따뜻한 말 한마디로 행복을 전하세요.</div>
        <div class="tutorial">
          <div class="tutorial__title">How to Use</div>
          <ul class="tutorial__numbers">
            <li class="tutorial__number">1. Sample 카드를 선택하세요.</li>
            <li class="tutorial__number">
              2. 감동 문구와 추억의 사진을 넣어주세요.
            </li>
            <li class="tutorial__number">3. 지인들에게 행복을 공유하세요.</li>
          </ul>
        </div>
      </section>
      <section class="sample-cards">
        <h1 class="sample-cards__title">Sample</h1>
        <div class="sample-card"><img src="./sample1.png" alt="" /></div>
        <div class="sample-card"></div>
      </section>
    </div>
  </body>
</html>
