{% extends "layout/base.html" %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}
{% block body %}
    <main class="main">
      <div class="copy">
        <div class="copy__text">
          따뜻한 말 한마디로<br />행복과 추억을 나눠요.
        </div>
      </div>

      <div class="wrapper">
        <section class="header">
          <div class="tutorial">
            <div class="tutorial__title">How to Use</div>
            <ul class="tutorial__numbers">
              <li class="tutorial__number">
                1. 아래에서 샘플 카드를 선택하세요.
              </li>
              <li class="tutorial__number">
                2. 감동 문구와 추억의 사진을 넣으세요.
              </li>
              <li class="tutorial__number">3. 지인들에게 행복을 공유하세요.</li>
            </ul>
          </div>
        </section>

        <section class="cards">
          <a href="card/create?type=1" class="card"><img src="{{ url_for('static', filename='img/card1.png') }}" alt="card1"/></a>
          <a href="card/create?type=2" class="card"><img src="{{ url_for('static', filename='img/card2.png') }}" alt="card2"/></a>
          <a href="card/create?type=3" class="card"><img src="{{ url_for('static', filename='img/card3.png') }}" alt="card3"/></a>
          <a href="card/create?type=4" class="card"><img src="{{ url_for('static', filename='img/card4.png') }}" alt="card4"/></a>
        </section>
      </div>
    </main>
{% endblock %}